@{
    ViewData["Title"] = "Home";
}

<div style="background:#232f3e;color:white;padding:20px;">
    <h1>E-Commerce Website</h1>
</div>

<div style="padding:30px;text-align:center;">
    <h2>Welcome to Smart Shopping 🛒</h2>
    <p>Best deals, smart suggestions, group buying & more!</p>

    <a href="/Account/Login" class="btn btn-warning">Login</a>
    <a href="/Account/Register" class="btn btn-primary">Register</a>
</div>