<h2>Dashboard</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card p-3">
            <h4>Customer Features</h4>
            <p>View products, cart, offers</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h4>Seller Features</h4>
            <p>Manage products, orders</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h4>Admin Panel</h4>
            <p>Manage users & analytics</p>
        </div>
    </div>
</div>